if account.uid == '168931296'
	extends buzheng/layout/base.jade
else
	extends molly/layout/-molly_base.jade
block title
	post.title+"-"+site.title

lock widget
	#cofe
		#steam

if account.uid == '168931296'
	{% from 'buzheng/layout/article.jade' import fn_post %}
else
	{% from 'molly/layout/-article.jade' import fn_post %}

block content
	+fn_post(post)
		post.content
		include molly/layout/-sns.jade

	#paging.navigation
		.unit-inner.unit-foot-inner
			nav.pager
				if pre_one
					a.internal.prev(href=pre_one.url,title="View {{ pre_one.title }}")
						i.icon-angle-circled-left
						pre_one.title
				if next_one
					a.internal.next(href=next_one.url, title="View {{ next_one.title }}")
						next_one.title
						i.icon-angle-circled-right

	include common/comments.html